* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.header .mainheader {
  height: 60px;
  padding: 0px 180px 0px 180px;
}

.header .navbar a img {
  width: 45px;
  height: 45px;
}

.header .mr-auto {
  margin-left: 200px;
}

.header .mr-auto .item {
  margin-left: 20px;
  padding: 18px 40px 18px 40px;
}
.header .mr-auto .button button {
  background-color: #fc4364;
  border: none;
  padding: 8px 18px 8px 18px;
  color: white;
  border-radius: 25px;
}

.header .mr-auto .item:hover {
  background-color: rgb(235, 235, 235);
}

.courses {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 150px 20px 150px;
}

.courses .item {
  flex-grow: 1;
  background-color: white;
  margin: 15px;
  border-radius: 15px;
  width: 350px;
}
.courses .item:hover {
  border: 2px solid rgb(204, 204, 204);
}
.courses .item:hover h5 {
  color: #fc4364;
}

.course-body {
  display: flex;
  height: 80px;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 150px 20px 150px;
}

.course-body .item {
  flex: 1;
  margin-left: 5px;
  position: relative;
}
.course-body .item .dp-content {
  position: absolute;
  left: 115px;
  top: 28px;
  display: none;
  width: 290px;
  z-index: 1;
}
.course-body .item .dp {
  display: inline-block;
  border: 1px solid white;
  border-radius: 25px;
  width: 160px;
  padding: 5px 20px 5px 20px;
  background-color: white;
  color: rgb(165, 165, 165);
}

.course-body .it1 {
  flex: 2;
}
.course-body .it1:hover .dp-content {
  display: block;
}
.course-body .it2 {
  flex: 2;
}
.course-body .it2:hover .dp-content {
  display: block;
}
.course-body .it3 {
  flex: 2;
}
.course-body .it5 {
  flex: 4;
}

.course-body .dp-content ul {
  list-style: none;
  background-color: white;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 3px;
}
.course-body .dp-content ul li {
  padding: 2px 8px 2px 8px;
}

.forms {
  text-align: center;
  width: 100%;
  margin-top: 100px;
  padding: 70px 20px 40px 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 320px) {
  .header .mainheader {
    height: 60px;
    padding: 0px 20px 0px 20px;
  }
  .header .mr-auto {
    position: relative;
    margin-left: 0px;
    background-color: white;
    z-index: 99;
  }
  .header .mr-auto .item {
    margin-left: 0px;
  }
  .header .mr-auto .button {
    display: none;
  }

  .courses {
    padding: 20px 10px 20px 10px;
  }
  .course-body {
    padding: 80px 10px 20px 10px;
    height: 150px;
    align-items: center;
  }
  .course-body .item {
    flex: none;
    width: 160px;
    margin: 5px;
  }
  .course-body .it3 {
    width: 160px;
  }
  .course-body .it4 {
    width: 100px;
  }
  .course-body .it5 {
    flex: 1;
  }
  .course-body .it4 i {
    margin-left: 78px;
  }
  .course-body .item .dp-content {
    width: 170px;
    left: 15px;
  }
  .forms {
    margin: 10px 10px 0px 10px;
    padding: 70px 20px 40px 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: none;
    text-align: left;
  }
  .forms .button {
    text-align: center;
  }
  .container-fluidd h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 350px) and (max-width: 480px) {
  .header .mainheader {
    height: 60px;
    padding: 0px 20px 0px 20px;
  }
  .header .mr-auto {
    position: relative;
    margin-left: 0px;
    background-color: white;
    z-index: 99;
  }
  .header .mr-auto .item {
    margin-left: 0px;
  }
  .header .mr-auto .button {
    display: none;
  }

  .courses {
    padding: 20px 10px 20px 10px;
  }
  .course-body {
    padding: 80px 10px 20px 10px;
    height: 150px;
    align-items: center;
  }
  .course-body .item {
    flex: none;
    width: 160px;
    margin: 5px;
  }
  .course-body .it3 {
    width: 160px;
  }
  .course-body .it4 {
    width: 100px;
  }
  .course-body .it5 {
    flex: 1;
  }
  .course-body .it4 i {
    margin-left: 78px;
  }
  .course-body .item .dp-content {
    width: 170px;
    left: 15px;
  }
  .forms {
    margin: 10px 10px 0px 10px;
    padding: 70px 20px 40px 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: none;
    text-align: left;
  }
  .forms .button {
    text-align: center;
  }
  .container-fluidd h1 {
    font-size: 30px;
  }
}
